.footer{
    background-color: #806e5f;
}
.footerText{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-reset{
    text-decoration: none;
}